.graph__bar {
  margin-bottom: 5px;
  position: relative;
  transition: width 0.2s linear;

  .graph__bar-inner {
    height: 15px;
    opacity: 0.66;
    z-index: -1;
    width: 12px;
  }

  .graph__bar-text {
    color: white;
  }
}
